body {
    margin: 10rem;
    font-size: 20px; 
    font-family: ubuntu,sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-size: 60px;
    font-weight: 700;
}

h3{
    font-size: 30px;
    margin-top: -1rem;
}

h4{
    font-size: 24px;
}

.header{
   color: grey; 
}

/** weights **/
.li{
    font-weight: 300;
}

.reg{
    font-weight: 400;
}

.med{
    font-weight: 500;
}

.bold{
    font-weight: 700;
}

/** style **/
.italic{
    font-style: italic;
}


/** spacing **/
.big{
    letter-spacing: 0.3em;
}

.small{
    letter-spacing: -0.06em;
}

/** decoration **/
.under{
    text-decoration: underline;
}

.through{
    text-decoration: line-through;
}

.over{
    text-decoration: overline;
}

/** transform **/
.upper{
    text-transform: uppercase;
}

.lower{
    text-transform: lowercase;
}

.cap{
    text-transform: capitalize;
}