#home h4{
    font-family: 'cambersemi_bold';
    font-weight: bold;
    border-bottom: 1.5px solid black;
}

section{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

img{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

h1{
    margin-right: 40px;
}

p{
    margin-bottom: 20px;
}

.about{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

@media (min-width: 375px) {
}


@media (min-width: 768px) {


}

@media (min-width: 1240px) {

}

