.search h4{
    font-family: 'cambersemi_bold';
    font-weight: bold;
    border-bottom: 1.5px solid black;
}

a h2{
    color: black;
    margin-bottom: 10px;
}

footer{
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-right: auto;
    margin-left: auto;
    margin-top: 12rem;
}

footer h1{
    margin-bottom: 20px;
}

footer h2{
    font-family: 'camberregular';
    margin-bottom: 15px;
}